<!-- ion-no-border para que no muestre el borde en el header y translucent para se vea translucido al hacer scroll,
   esto junto fullscreen en el ion-content de donde queremos que se muestre -->
<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{Titulo}}</ion-title>
  </ion-toolbar>
</ion-header>